@{
    ViewData["Title"] = "Home Page";
    int[][] matrix = (int[][])Model;
}

<div class="row" style="margin-top:20px;">
    <div class="col-sm-12">
        <table class="table table-condensed, table-bordered">
            @for (var row = 0; row < matrix.Length; row++)
            {
                <tr>
                    @for (var col = 0; col < matrix[row].Length; col++)
                    {
                        <td style="text-align:center;">@(matrix[row][col] != 0 ? matrix[row][col].ToString() : "")</td>
                    }
                </tr>
            }
        </table>
    </div>
</div>

<script>
</script>